<form method="post">
    <label>Email address:<br /> <input type='email' name="email" autocomplete="off" /></label><br /><br />
    <label>Password:<br /> <input type='pass' name="pass" autocomplete="off" /></label><br /><br />
    <button type="submit">Submit</button>
</form>