<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I am from a native ejs file.</h1>
    <form method="POST" action="/article/get-create">
        <label>
            Title: <input type="text" name="title" required />
        </label>
        <br />
        <br />
        <label>
            Author <input type="text" name="author" required />
        </label>
        <button type="submit">Create article</button>
        <br />
        <br />
    </form>
</body>
</html>